@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* common styles */

html,
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header styles */

header {
  width: 100vw;
  margin: 0;
  /* padding: 0 0 0 2em; */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #151515;
}

header a:link,
header a:visited {
  color: lightpink;
  text-decoration: none;
}

.nav {
  padding: 1em;
  margin-left: 2em;
}

.nav-body {
  /* width: 12.5%; */
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  font-size: larger;
}

.nav-body div {
  margin: auto auto auto 2em;
}

/* body styles */

.content {
  width: max(70vw, 500px);
  padding-left: calc((100vw - max(70vw, 500px)) / 2);
  padding-right: calc((100vw - max(70vw, 500px)) / 2);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.div-img-container {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.img {
  width: 300px;
  padding: 15px 15px 0 15px;
}

.img-fr {
  float: right;
  padding: 15px;
}

.text {
  padding: 0 15px 0 15px;
}

kbd {
  font-size: large;
}

table {
  border: thin solid grey;
  border-collapse: collapse;
}
table * {
  padding: 0.25em;
  text-align: center;
}

table td,
table th {
  border: thin solid grey;
}

fieldset {
    padding: 1em 0;
    border: 0;
}
fieldset label {
    display: inline-block;
    width: 3em;
}
.contactFormInput {
   margin-left: 3em;
}
.contactForm textarea {
    width: 50%;
    vertical-align: top;
}
/* footer styles */

footer {
  bottom: 0;
}
